$primary-color: #261fa9;
$secondary-color: #ff2d55;

body {
  font-family: Arial, sans-serif;
  background-color: $primary-color;
  color: $secondary-color;
  margin: 0;
  padding: 0;

  header {
    background-color: lighten($primary-color, 20%);
    padding: 1rem;
    text-align: center;
  }

  main {
    padding: 2rem;
  }

  footer {
    background-color: darken($primary-color, 20%);
    padding: 1rem;
    text-align: center;
    color: white;
  }
}