<section class="build">
  <div class="grid">
    <div class="grid-item">
      <h2 class="top-title">Your creation, live on Decentraland</h2>
      <h3 class="section-title">What can i build?</h3>
      <p class="section-subtitle">The Decentraland SDK allows for all kinds of interactive content. Build a multiplayer game, an interactive art
      installation, a virtual shop, or more!</p>
      <a class="go-to-link" href="https://docs.decentraland.org/examples/sample-scenes/" target="_blank">
        see some examples
        <span>
          {% include "./svg/chevron-right.svg" %}
        </span>
      </a>
    </div>
    <div class="grid-item">
      <h2 class="top-title">Whats new?</h2>
      <h3 class="section-title">Introducing the SDK 6.3</h3>
      <p class="section-subtitle">
        The Decentraland SDK is based on TypeScript (JavaScript with type checking), featuring development patterns that are
        common among game development platforms. The upcoming 6.3 version will support collision events, moving players around,
        a polished HUD interface, and more.
      </p>
      <a class="go-to-link" href="https://docs.decentraland.org/" target="_blank">
        Read the Docs
        <span>
          {% include "./svg/chevron-right.svg" %}
        </span>
      </a>
    </div>
    <div class="grid-item">
      <h2 class="top-title">An integrated art pipeline</h2>
      <h3 class="section-title">SDK + Builder</h3>
      <p class="section-subtitle">
        We recommend using the Builder, Decentraland's visual editor, as a starting point for your art pipeline. Import and
        position pre-made, pre-loaded custom 3D models. Export the scene to dive into the code and make it fun!
      </p>
      <a class="go-to-link" href="https://docs.decentraland.org/examples/tutorials/" target="_blank">
        Watch tutorial
        <span>
          {% include "./svg/chevron-right.svg" %}
        </span>
      </a>
    </div>
  </div>
</section>