<footer>
	<div class="footer-wrapper">
    <div class="lang-nav-wrapper">
			<div class="footer-lang-selector">
        <div class="lang-flag en"></div>
        <select name="lang-selector" id="lang">
          <option value="en" selected="">English</option>
          <option value="es">Español</option>
          <option value="zh">中文</option>
          <option value="ko">한국어</option>
        </select>
			</div>
			<nav class="footer-nav">
				<ul>
					<li><a href="https://decentraland.org/">Home</a></li>
          <li class="terms"><a href="https://decentraland.org/contest-terms" target="_blank">Terms & Conditions</a></li>
          <li class="terms-ko"><a href="https://decentraland.org/kr/contest-terms" target="_blank">Terms & Conditions</a></li>
					<li><a href="https://decentraland.org/press" target="_blank">Press Kit</a></li>
				</ul>
			</nav>
		</div>
		<div class="social-copyright-wrapper">
      <ul class="footer-links">
        <li>
          <a target="_blank" href="https://discordapp.com/invite/9EcuFgC" class="Discord-icon" title="Discord">
            {% include "./svg/discord.svg" %}
          </a>
        </li>
				<li>
          <a target="_blank" href="https://reddit.com/r/decentraland" class="Reddit-icon" title="Reddit">
            {% include "./svg/reddit.svg" %}
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/decentraland" class="Github-icon" title="Github">
            {% include "./svg/github.svg" %}
          </a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/decentraland" class="Twitter-icon" title="Twitter">
            {% include "./svg/twitter.svg" %}
          </a>
        </li>
			</ul>
			<div class="copyright">&copy; <span class="year">2019</span> Decentraland</div>
		</div>
	</div>
</footer>
