<section class="hero">
  <div class="container">
    <div class="inner-wrapper">
      <h1 class="title">Decentraland SDK Hackathon</h1>
      <h2 class="subtitle">
        <span>2 weeks of hacking</span>
        <span class="spacer"></span>
        <span>September 02-16</span>
      </h2>
      <p class="intro">
Submit your most creative interactive scenes and win a share of <strong>2,500,000 MANA + 200 LANDs</strong> ($275,000+ USD in prizes).
Starting September 2
      </p>
      <form class="sign-up-form" action="">
        <input class="text-input" type="text" placeholder="Enter your email adress" />
        <button class="button">Sign Up</button>
      </form>
      <p class="sign-up-disclaimer">
        By signing up you are agreeing to receive Hackaton news.
      </p>
    </div>
  </div>
</section>