<section class="judges">
  <div class="container">
    <h1 class="section-title">Hackathon Judges</h1>
    <p class="section-subtitle">Meet the Decentraland hackathon jury of judges.</p>
  </div>
  <ul class="judges-grid">
    <li class="judge-item">
      <img src="images/avatar-placeholder.png" alt="" class="judge-picture" />
      <h2 class="judge-title">
        Coming soon
      </h2>
      <!-- <p class="judge-info">
        A brief description about the judge, ideally not that long.
      </p>
      <div class="social-links">
        <a href="">Twitter</a>
        <a href="">Linkedin</a>
      </div> -->
    </li>
    <li class="judge-item">
      <img src="images/avatar-placeholder.png" alt="" class="judge-picture" />
      <h2 class="judge-title">
        Coming soon
      </h2>
      <!-- <p class="judge-info">
        A brief description about the judge, ideally not that long.
      </p>
      <div class="social-links">
        <a href="">Twitter</a>
        <a href="">Linkedin</a>
      </div> -->
    </li>
    <li class="judge-item">
      <img src="images/avatar-placeholder.png" alt="" class="judge-picture" />
      <h2 class="judge-title">
        Coming soon
      </h2>
      <!-- <p class="judge-info">
        A brief description about the judge, ideally not that long.
      </p>
      <div class="social-links">
        <a href="">Twitter</a>
        <a href="">Linkedin</a>
      </div> -->
    </li>
    <li class="judge-item">
      <img src="images/avatar-placeholder.png" alt="" class="judge-picture" />
      <h2 class="judge-title">
        Coming soon
      </h2>
      <!-- <p class="judge-info">
        A brief description about the judge, ideally not that long.
      </p>
      <div class="social-links">
        <a href="">Twitter</a>
        <a href="">Linkedin</a>
      </div> -->
    </li>
    <li class="judge-item">
      <img src="images/avatar-placeholder.png" alt="" class="judge-picture" />
      <h2 class="judge-title">
        Coming soon
      </h2>
      <!-- <p class="judge-info">
        A brief description about the judge, ideally not that long.
      </p>
      <div class="social-links">
        <a href="">Twitter</a>
        <a href="">Linkedin</a>
      </div> -->
    </li>
    <li class="judge-item">
      <img src="images/avatar-placeholder.png" alt="" class="judge-picture" />
      <h2 class="judge-title">
        Coming soon
      </h2>
      <!-- <p class="judge-info">
        A brief description about the judge, ideally not that long.
      </p>
      <div class="social-links">
        <a href="">Twitter</a>
        <a href="">Linkedin</a>
      </div> -->
    </li>
  </ul>
</section>