<section class="more-info">
  <div class="container">
    <h1 class="section-title">More Info</h1>
  </div>
  <div class="info-list">
    <div class="info-item">
      <h2>What is Decentraland?</h2>
      <p>Decentraland is a decentralized virtual world powered by the Ethereum blockchain. The finite 3D virtual space
        is divided into parcels called LAND. Each plot of LAND is permanently owned by a member of the community, giving
        the owner full control over what they create and display in that location. As players explore the virtual world,
        the content uploaded to Decentraland is rendered on its corresponding land parcel.</p>
    </div>
    <div class="info-item">
      <h2>Key dates</h2>
      <p>The hackathon will begin on September the 2nd, and last two weeks. Winners will be announced one week after the
        end of the hackathon.</p>
    </div>
    <div class="info-item">
      <h2>I'm a game developer, but I don’t know much about blockchain.</h2>
      <p>You don’t need to go down the blockchain rabbit hole to build a scene. Just know that the 3D scene you build
        will be tied to one or several tokens on the blockchain, which represent parcels of LAND. You’re also encouraged
        to explore different ways in which the code of your scene can interact with other data on the blockchain, but it
        is not a requirement.</p>
    </div>
    <div class="info-item">
      <h2>Do I need to own LAND to build something?</h2>
      <p>You don't. Anyone can participate in the hackathon. If you create something great, our team or other landowners
        will be able to upload your scene into the world. Also, 200 LANDs will be given out as awards to the top
        participants.</p>
    </div>
    <div class="info-item">
      <h2>Do I have to share my scene’s source code publicly to participate?</h2>
      <p>You can simply share an interactive preview of the working scene, built using the Decentraland SDK.</p>
    </div>
  </div>
</section>