<div class="navigation">
  <div class="dropdown-overlay"></div>
  <div class="nav">
    <div class="topbar">
      <div class="logo">
        <a href="https://decentraland.org">
          <img src="images/logo.svg" />
        </a>
      </div>
      <div class="dropdown-trigger">
        <i>
          <img src="images/menu.svg">
          <img class="close" src="images/close.svg">
        </i>
      </div>
    </div>
    <div class="dropdown-content">
      <ul class="menu">
        <li><a href="https://market.decentraland.org/">Marketplace</a></li>
        <li><a href="https://builder.decentraland.org/">Builder</a></li>
        <li><a href="https://docs.decentraland.org/">Docs</a></li>
        <li><a href="https://agora.decentraland.org/">Agora</a></li>
        <li><a href="https://decentraland.org/blog/">Blog</a></li>
      </ul>
      <ul class="extra">
        <li><a href="/en">Eng</a></li>
        <li><a href="/es">Esp</a></li>
        <li><a href="/zh">中文</a></li>
        <li><a href="/ko">한국어</a></li>
      </ul>
    </div>
  </div>
</div>
