<section class="prizes">
  <div class="container">
    <h1 class="section-title">What is the Developers Hackathon?</h1>
    <p class="section-subtitle">A global, 2-week online competition to create awesome interactive content that will form part of Decentraland, a virtual
    world owned by its users.</p>
  </div>
  <div class="prize-grid">
    <div class="prize-item">
      <img class="prize-image" src="images/prize-01.png" alt="" />
      <h2 class="prize-title">
        350,000 MANA
      </h2>
      <p class="prize-subtitle">
        (~21,000 USD) <strong>+ LAND</strong>
      </p>
    </div>
    <div class="prize-item">
      <img class="prize-image" src="images/prize-02.png" alt="" />
      <h2 class="prize-title">
        200,000 MANA
      </h2>
      <p class="prize-subtitle">
        (~12,000 USD) <strong>+ LAND</strong>
      </p>
    </div>
    <div class="prize-item">
      <img class="prize-image" src="images/prize-03.png" alt="" />
      <h2 class="prize-title">
        100,000 MANA
      </h2>
      <p class="prize-subtitle">
        (~6,000 USD) <strong>+ LAND</strong>
      </p>
    </div>
    <div class="prize-item">
      <img class="prize-image" src="images/prize-04.png" alt="" />
      <h2 class="prize-title">
        50,000 MANA
      </h2>
      <p class="prize-subtitle">
        (~3,000 USD) <strong>+ LAND</strong>
      </p>
    </div>
    <div class="prize-item">
      <img class="prize-image" src="images/prize-05.png" alt="" />
      <h2 class="prize-title">
        250,000 MANA
      </h2>
      <p class="prize-subtitle">
        (~1,500 USD) <strong>+ LAND</strong>
      </p>
    </div>
    <div class="prize-item">
      <img class="prize-image" src="images/prize-06.png" alt="" />
      <h2 class="prize-title">
        1,000 MANA
      </h2>
      <p class="prize-subtitle">
        (~60 USD) <strong>+ LAND</strong> per qualifying scene
      </p>
    </div>
  </div>
  <p class="prize-disclaimer">
    MANA awards above 50,000 MANA are subject to an irrevocable 6-month vesting schedule.
  </p>
</section>